# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/

# Visual Studio Code cache/options
.vscode/

# Rider cache/options
.idea/
.rider/
*.sln.iml

# Build folders
bin/
obj/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History
.localhistory/

# BeatPulse healthcheck temp database 
healthchecksdb

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.vs/
